<h1>Animal Dictionary</h1>

<!-- <h3>Dictionary</h3> -->

<div>
  <ul>
    <% if @dictionary.kind_of?(Array) %>
      <% @dictionary.each do |each| %>
        <p id='<%= each.id %>'><a href='/output/<%= each.id %>'><%= each.word %></a></p>
      <% end %>
    <% else %>
      <p id='<%= @dictionary.id %>'><a href='/output/<%= @dictionary.id %>'><%= @dictionary.word %></a></p>
    <% end %>
  </ul>
</div>

<button type="submit" class="btn button"><a class="route" href="/addword">Add New Word</a></button>
