<h1></h1>
<ul>
  <% if @example.kind_of?(Array) %>
    <% @example.each do |each| %>
      <p id='<%= each.id %>'><a href='/output/<%= each.id %>'><%= each.name %></a></p>
    <% end %>
  <% else %>
    <p id='<%= @example.id %>'><a href='/output/<%= @example.id %>'><%= @example.name %></a></p>
  <% end %>
</ul>


<form action="/" method="post">
  <div class="form-group">
    <input type="text" name="name" placeholder="example">
  </div>
  <button type="submit" name="button">Add</button>
</form>
